<h1>Editing expedient</h1>

<%= render "form", expedient: @expedient %>

<br>

<div>
  <%= link_to "Show this expedient", @expedient %> |
  <%= link_to "Back to expedients", expedients_path %>
</div>
